<!DOCTYPE html>
<html>
<head>
    <title>Products list</title>
</head>
<body>
    <table>
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Description</td>
            <td>Price</td>
        </tr>
        <% for(var i = 0; i < list.length; i++) { %>
            <tr>
                <td><%= list[i].id %></td>
                <td><%= list[i].title %></td>
                <td><%= list[i].description %></td>
                <td><%= list[i].price %></td>
            </tr>
        <% } %>
    </table>
</body>
</html>